# Build output
build/
core/build/
desktop/build/
core/core/
core/bin/
desktop/bin/
*.class

# Gradle
.gradle/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Game save files
*.sav
core/default.sav
